/*主页index.html的样式*/

/*顶部导航条的容器*/
.topbar-wrapper{
    width: 100%;
    background-color: #333;
    height: 40px;
    line-height: 40px;
}
/*设置超链接颜色*/
.topbar a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}
.topbar a:hover{
    color: #fff;
}
/*设置中间的分隔线样式*/
.topbar .line{
    font-size: 12px;
    color:#424242;
    margin: 0 8px;
}
/*设置左侧导航栏*/
.service, .topbar li{
    float: left;
}
/*设置app下拉二维码样式*/
.app{
    position: relative;
}
.app .qrcode{
    position: absolute;
    left: -38px;
    width: 124px;
    height: 0;
    overflow: hidden;
    background-color: white;
    line-height: 1;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    /*display: none;*/
    transition: 0.3s;
    z-index: 9999;
}
.app .qrcode img{
    width: 90px;
    margin: 17px;
    margin-bottom: 10px;
}
.app .qrcode span{
    color: black;
    font-size: 14px;
}
.app::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border: 8px solid transparent;
    border-top: none;
    border-bottom-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}
.app:hover .qrcode,
.app:hover::after{
    display: block;
    height: 148px;
}
/*设置右侧导航栏*/
.shop-cart,.user-info{
    float: right;
}
/*设置购物车的样式*/
.shop-cart{
    margin-left: 26px;
    position: relative;
}
.shop-cart a{
    width: 120px;
    text-align: center;
    background-color: #424242;
}
.shop-cart i{
    margin-right: 2px;
}
.shop-cart:hover a{
    color: #ff6700;
    background-color: #fff;
}
/*设置购物车下拉菜单*/
.shopping{
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    position: absolute;
    width: 300px;
    text-align: center;
    left: -180px;
    height: 0px;
    overflow: hidden;
    transition: 0.3s;
    z-index: 99;
}
.shop-cart:hover .shopping{
    height: 60px;
}
.word{
    margin: 10px 0;
}

/*设置中间的header*/
.header-wrapper{
    position: relative;
}
.header{
    height: 100px;
}
/*设置logo*/
.header .logo{
    float: left;
    margin: 22.5px auto;
    width: 55px;
    height: 55px;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;   /*用于隐藏logo中的文字*/
}
.header .logo a{
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0;
    background-image: url("../img/logo-xiaomi.jpg");
    background-size: contain;
    border-radius: 15px;
    transition: left .3s;
}
.header .logo .logo2{
    left: -55px;
    background-image: url("../img/logo2-xiaomi.jpg");
}
.header .logo:hover .logo1{
    left: 55px;
}
.header .logo:hover .logo2{
    left: 0px;
}

/*设置中间的导航条*/
.header .nav-wrapper{
    float: left;
    margin-left: 7px;
}
.header .nav>li{
    float: left;
}
/*设置左侧导航条的样式*/
.all-goods-wrapper{
    position: relative;
}
.left-menu{
    width: 234px;
    
    background-color: rgba(0,0,0,.3);
    position: absolute;
    left: -120px;
    z-index: 99;
    line-height: 1;
    padding: 20px 0px;
}
ul .left-menu li a{
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    color: white;
    padding: 0 30px;
}
ul .left-menu li a:hover{
    background-color: #ff6700;
    color: #fff;
}
.left-menu a i{
    float:right ;
    line-height: 42px;
}
.header .nav{
    height: 100px;
    line-height: 100px;
    padding:0 58px;
}
.nav>li>a{
    font-size: 16px;
    margin-right: 20px;
    display: block;
    color: black;
}
.nav-wrapper .all-goods{
    visibility: hidden;
}
.nav-wrapper li a:hover{
    color: #ff6700;
}
.nav .goods-info{
    height: 228px;
    background-color: #fff;
    position: absolute;
    top:100px;
    left: 0;;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition:0.1s;
    z-index:9999;
}
.nav  li:not(:first-child):not(:nth-child(9)):not(:nth-child(10)):hover ~ .goods-info,
.goods-info:hover{
    border-top: 0.5px solid rgba(224, 224, 224);
    box-shadow:0 5px 3px rgba(0,0,0,.2) ;
    height: 228px;
}
/*设置搜索框容器*/
.search-wrapper{
    width: 296px;
    height: 50px;
    float: right;
    margin-top: 25px;
}
.search-wrapper .search-inp{
    box-sizing: border-box;
    float: left;
    height: 50px;
    padding: 0;
    width: 244px;
    padding: 0 10px;
    border: 1px solid rgba(224, 224, 224);
    outline: none;
}
.search-wrapper .search-btn{
    float: left;
    height: 50px;
    width: 52px;
    padding: 0;
    border: none;
    background-color: #fff;
    color: #616161;
    border: 1px solid rgba(224, 224, 224);
    border-left: none;
}
.search-wrapper .search-inp:focus,
.search-wrapper .search-inp:focus + .search-btn {
    border: 1px solid #ff6700;
}
.search-wrapper .search-btn:hover{
    background-color: #ff6700;
    color: #fff;
    border:none;
}
/*设置banner*/
.banner{
    position: relative;
    height: 460px;
}
.banner .img-list li{
    position: absolute;
}
.banner img{
    width: 100%;
}

/*设置5个导航点*/
.pointer{
    position: absolute;
    bottom: 0;
    right: 35px;
    bottom: 22px;
}
.pointer a{
    float: left;
    display: block;
    width: 6px;
    height: 6px;
    border: 2.5px solid rgba(225,225,225,0.4);
    border-radius: 50%;
    background-color: rgba(0,0,0,.4);
    margin-left: 6px;
}
.pointer a:hover,
.pointer a.active{
    background-color: rgba(225,225,225,.4);
    border: 2.5px solid rgba(0,0,0,0.4);
}

/*设置两个箭头*/
.prev-next a{
    width: 41px;
    height: 69px;
    background-image: url(../img/pre-next.png);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.prev-next .prev{
    left: 234px;
    background-position: -84px 0;
}
.prev-next .next{
    right: 0;
    background-position: -125px 0;
}
.prev-next .prev:hover{
    background-position: 0px 0;
}
.prev-next .next:hover{
    background-position: -42px 0;
}

/*设置回到顶部的元素*/
.back-top{
    width: 26px;
    height: 206px;
    background-color: rgb(173, 173, 173);
    position: fixed;
    bottom: 100px;
    right: 50%;
    margin-right: -639px;
}

/*设置广告部分的样式*/
.ad{
    height: 170px;
    margin-top: 14px;
}
.ad .shortcut,.ad .ad1-img{
    float: left;
}
.ad li{
    float: left;
}
.ad .shortcut{
    width: 228px;
    height: 168px;
    background-color: #5f5750;
    margin-right: 14px;
    padding-top: 2px;
    padding-left: 6px;
}
.ad .ad1-img li{
    width: 316px;
    margin-right: 15px;
}
.ad .ad1-img li:last-child{
    margin: 0;
}
.ad .ad1-img img{
    width: 100%;
    vertical-align: top;
}
.ad .shortcut a{
    color: #cfccca;
    display: block;
    width: 76px;
    height: 84px;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
}
.ad .shortcut i{
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}
.ad .shortcut a:hover{
    color:white;
}
.shortcut li{
    position: relative;
}
.shortcut li::before{
    content: "";
    position: absolute;
    width: 64px;
    height: 1px;
    background-color: #706f6f;
    top: 0px;
    left:0px;
    right: 0px;
    margin: 0 auto;
}
.shortcut li::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 70px;
    background-color: #706f6f;
    top: 0px;
    bottom: 0;
    left:0px;
    margin: auto 0;
}